<aside class="sidenav-root" [class.collapsed]="collapsed">
  <!--
  <div class="nav-header">
    <span class="title" [class.hide]="collapsed">CENTRO DE ADMINISTRACIÓN</span>
  </div>
  -->

<mat-nav-list>
  <!-- Renderizar los items principales -->
  @for (item of items; track item.key ?? item.path ?? item.label ?? $index) {
    @if (item.label === 'Contenedores' && item.children?.length) {
      <!-- Título de sección -->
      <div class="nav-section-title">
        <mat-icon class="icon" aria-hidden="true">{{ item.icon }}</mat-icon>
        <span class="section-label">{{ item.label | uppercase }}</span>
      </div>
      <!-- Renderizar los hijos de Contenedores como ítems principales -->
      @for (child of item.children; track child.key ?? child.path ?? child.label ?? $index) {
        <ng-container *ngTemplateOutlet="navItemTemplate; context: { $implicit: child, level: 0 }"></ng-container>
      }
    } @else {
      <ng-container *ngTemplateOutlet="navItemTemplate; context: { $implicit: item, level: 0 }"></ng-container>
    }
  }
</mat-nav-list>

<ng-template #navItemTemplate let-item let-level="level">
  @if (item.children?.length) {
    <!-- Padre con hijos -->
    <div
      class="nav-parent"
      [style.paddingLeft.px]="16 + level * 16"
      (click)="toggleOpen(item.key)"
      [matTooltip]="item.label"
      matTooltipPosition="right"
    >
      <mat-icon>{{ isOpen(item.key) ? 'expand_more' : 'chevron_right' }}</mat-icon>
      <mat-icon class="icon" aria-hidden="true">{{ item.icon }}</mat-icon>
      <span class="title" [class.hide]="collapsed">{{ item.label | uppercase }}</span>
    </div>
    @if (isOpen(item.key)) {
      @for (child of item.children; track child.key ?? child.path ?? child.label ?? $index) {
        <ng-container *ngTemplateOutlet="navItemTemplate; context: { $implicit: child, level: level + 1 }"></ng-container>
      }
    }
  } @else {
    <a
      mat-list-item
      [routerLink]="item.path"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: item.path === '/' }"
      (click)="onNavigate()"
      [matTooltip]="item.label"
      matTooltipPosition="right"
      [style.paddingLeft.px]="16 + level * 16"
    >
      <mat-icon matListItemIcon class="icon">{{ item.icon }}</mat-icon>
      <div matListItemTitle class="label">{{ item.label }}</div>
    </a>
  }
</ng-template>

</aside>
