<app-topbar (toggle)="onToggleFromTopbar()" (notify)="onTopbar($event)" />
<!-- 👇 autosize hace que el container re-calcule los márgenes cuando cambia el tamaño del sidenav -->

<mat-sidenav-container class="layout" [autosize]="true">
  <mat-sidenav
    #drawer
    class="sidenav"
    [class.collapsed]="!isMobile() && collapsed()"
  >
    <app-side-nav
      [items]="navItems"
      [collapsed]="!isMobile() && collapsed()"
      (toggle)="onToggleFromTopbar()"
      (navigate)="closeIfOver(drawer)"
    />
  </mat-sidenav>

  <mat-sidenav-content>
    
    <div class="content compact">
      <app-breadcrumbs />
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
